@import "../../styles/_variables";
.album-page{
    height: calc(100vh - 56px);
    background: $light-txt;
}
.album-page > .card {
    max-width: 400px;
    border: none;
    border-radius: 0;
    .card-img-top {
        border-radius: 0;
    }
}